<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/estilo.css" rel="stylesheet" />
    <title>The Simpsons</title>
</head>
<body>
    <main>
        @RenderBody()
    </main>
</body>
</html>