@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: #0791B6;
}

::-webkit-scrollbar-thumb {
    background: #ffc800;
    border:2px solid #C47A00;
}

body {
    font-family: 'Raleway', sans-serif;
}
body:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1; 
    width: 200%;
    height: 200%;
    background: url("https://images4.alphacoders.com/934/934853.jpg");
    background-size: contain;
    background-position: 600px -200px;
    filter: blur(2.5px);
    }
.card {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    max-width: 800px;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: 4vh auto;
    border-radius: 4px;
    box-shadow: 2px 3px 12px rgba(0,0,0,.4);
    color: #fff;
    padding: 2vh 3%;
    background: url("https://images4.alphacoders.com/938/938326.jpg");
    background-size: cover;
}
.card:after{
    content:"";
    display:block;  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:4px;
    background:linear-gradient(to right, rgba(40,40,60,1) 0%, rgba(40,0,60,0)90%);
    background-blend-mode:multiply;
    will-change:transform;
    z-index:0;
}
.card2 {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    max-width: 800px;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin: 4vh auto;
    border-radius: 4px;
    box-shadow: 2px 3px 12px rgba(0,0,0,.4);
    color: #fff;
    padding: 2vh 3%;
    background: url("https://images7.alphacoders.com/109/1099806.jpg");
    background-size: cover;
}
.card2:after{
    content:"";
    display:block;  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:4px;
    background:linear-gradient(to right, rgba(40,40,60,1) 0%, rgba(40,0,60,0)100%);
    background-blend-mode:multiply;
    will-change:transform;
    z-index:0;
}
.tittle {
    font-size: 170%;
    z-index: 10;
    position: relative;
    color: #ffc800;
}
.btnInfo {
    display: block;
    border: 1px solid #ffc800;
    border-radius: 4px;
    position: relative;
    z-index: 10;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    padding: 10px;
    text-align: center;
    margin: 20px 0;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transition: all .2s;
}
input[type=button]:hover {
    background: #ffc800;
    color: #000;
    box-shadow: 0 0 10px rgba(255,255,255,.5);
    mix-blend-mode: screen;
    cursor: pointer;
}
input[type=button]:active {
    transform: translateY(2px);
}
.totalchapters{
    display:inline-block;
    position:relative;
    z-index:10;
    margin-top:-10px;
    margin-right:80px;
    color:rgb(210,210,210);
}
.description{
    position:relative;
    z-index:10;
    font-size:.8em;
    width:60%;
    height:35%;
}
a{
    text-decoration:none;
}